/**
 * old css
 *
 */

.single-column {
  margin: 0 auto;
}

.bar {
  border-top: 2px solid #C17698;
  border-bottom: 2px solid #C17698;
  background: #7B0D66;
}
.entry-title {
  margin-bottom: 20px;
}

/** ===================================
 * 文章页 缺省专题页
 * 样式比较简单
 * ================================== */

.site-content {
  background: #FFF;
}

.site-content.single,
.site-content.category {
  padding: 12px 20px;
}

p.thumbnail {
  display: inline-block;
}

.page h1,
.category h1 {
  margin-bottom: 30px;
  color: #EC4C45;
}

.category article {
  padding-bottom: 20px;
  margin: 0 0 30px;
  border-bottom: 2px dashed #CCC;
}

.category article:last-of-type {
  border: none;
}

.single .date {
  margin-left: 40px;
}

.single .footer {
  padding: 15px 0;
}

/**
 * button
 */
.btn.btn-primary {
  text-shadow: 0 1px 0 #555;
}

.icon-weibo {
  margin-top: -3px;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  background: url('../images/weibo.png');
  line-height: normal;
}

#download > .p {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

#download > .p.n {
  border: none;
}

#download ul {
  margin-bottom: 20px;
  padding: 0;
}

#download ul li {
  list-style: none;
}

#download .lab {
  float: left;
  width: 60px;
  text-align: right;
}

#download .content {
  margin-left: 80px;
}

#download .bottom {
  padding: 20px 5px;
}

#download .bottom .btn {
  width: 200px;
  background-color: #1C86E9;
}

#download .bottom .btn:hover {
  background-color: #036DD0;
}

#doc {
  margin-left: 200px;
}

#doc h2 span {
  border-bottom: 2px solid #58aaf7;
  padding: 5px 0;
}

#doc h2 {
  border-bottom: 1px solid #58aaf7;
  line-height: 32px;
}


/**
 * 广告产品页
 */

.icon-wall {
  background: url('../images/icon-wall.png') center center no-repeat;
}

.icon-list {
  background: url('../images/icon-list.png') center center no-repeat;
}

.icon-stream {
  background: url('../images/icon-stream.png') center center no-repeat;
}

#product p {
  font-size: 14px;
}
#product .block {
  height: 490px;
  padding: 40px 0;
  position: relative;
}

#product .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

#product .content.left {
  margin-right: 210px;
}

#product .content.right {
  margin-left: 210px;
}
#product .content.left~.img {
  float: right;
}
#product .content.right~.img {
  float: left;
}
