/**
 * old css
 *
 */

.single-column {
  margin: 0 auto;
}

.bar {
  border-top: 2px solid #C17698;
  border-bottom: 2px solid #C17698;
  background: #7B0D66;
}
.entry-title {
  margin-bottom: 20px;
  font-size: 16px;
}
.entry-content {
  font-size: 12px;
  line-height: 25px;
  color: #333;
}

/** ===================================
 * 文章页 缺省专题页
 * 样式比较简单
 * ================================== */

.site-content {
  background: #FFF;
}

.site-content.single,
.site-content.category {
  padding: 12px 20px;
}

p.thumbnail {
  display: inline-block;
}

.page h1,
.category h1 {
  margin-bottom: 30px;
  color: #EC4C45;
}

.category article {
  padding-bottom: 20px;
  margin: 0 0 30px;
  border-bottom: 2px dashed #CCC;
}

.category article:last-of-type {
  border: none;
}

.single .date {
  margin-left: 40px;
}

.single .footer {
  padding: 15px 0;
}

/**
 * button
 */
.btn.btn-primary {
  text-shadow: 0 1px 0 #555;
}

.icon-weibo {
  margin-top: -3px;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  background: url('../images/weibo.png');
  line-height: normal;
}

/**
 * about page
 */

.table {
  background-color: #f5fcff;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #d4eaf2;
  padding: 15px 35px;
}

.table td:first-child {
  text-align: center;
}

hr {
  border: 1px solid #f0f0f0;
  margin: 25px 0;
}

.address {
  padding: 15px;
  border-width: 1px;
}

.address.active {
  background-color: #f0f0f0;
  border: 1px solid #e8e8e8;
}

.maps {
  margin: 0;
  position: relative;
}

.maps li {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.maps li:first-child {
  display: block;
}

#beijing-map .modal-body,
#guangzhou-map .modal-body,
#shanghai-map .modal-body,
#xian-map .modal-body {
  overflow: hidden;
  max-height: inherit;
}

#nav-list {
  line-height: 64px;
  width: 210px;
  border: 1px solid #f0f0f0;
  font-size: 14px;
  float: left;
}

#nav-list.affix {
  position: fixed;
  top: 100px;
}

#nav-list.affix-bottom {
  position: fixed;
}

#nav-list > ul {
  margin: 0;
  padding: 0;
}

#nav-list > ul > li {
  list-style: none;
}

#nav-list > ul > li.active,
#nav-list > ul > li:hover {
  background-color: #f0f0f0;
}

#nav-list > ul > li ~ li {
  border-top: 1px solid #f0f0f0;
}

#nav-list > ul > li i.fa {
  margin-right: 20px;
}

#nav-list > ul > li > a {
  display: block;
  margin: 0 30px;
  color: #333;
}

#nav-list > ul > li.active a,
#nav-list > ul > li a:hover {
  text-decoration: none;
  color: #3281dc;
}

.article {
  line-height: 30px;
  margin-left: 240px;
}

.article h3 span {
  border-bottom: 2px solid #58aaf7;
  padding: 5px 0;
}

.article h3 {
  border-bottom: 1px solid #58aaf7;
  line-height: 30px;
}

.article h4 {
  font-size: 14px;
  line-height: 26px;
}

.article > p {
  font-size: 14px;
  line-height: 26px;
}

.article ul {
  padding: 0;
}

.article ul li {
  list-style: none;
}

#gallery-1 .wp-caption-text {
  display: none;
}

#gallery-1 .gallery-item {
  float: left;
  margin: 0 17px 20px 0;
}

#gallery-1 .gallery-item img {
  height: 80px;
  width: 80px;
}

/**
 * news 点乐动态
 */

#nav {
  line-height: 40px;
  width: 190px;
  font-size: 14px;
  margin-left: 10px;
  float: left;
}

#nav.affix {
  position: fixed;
  top: 100px;
}

#nav.affix-bottom {
  position: fixed;
}

#nav > ul {
  margin: 0;
  padding: 0;
}

#nav ul > li {
  list-style: none;
  position: relative;
}

#nav ul > li i.fa {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  width: 11px;
  height: 11px;
  top: 14px;
  left: -5px;
  display: block;
}

#nav ul > li:first-child i.fa:before {
  position: absolute;
  height: 13px;
  width: 5px;
  top: -14px;
  left: 4px;
  content: "";
  border-left: 1px solid #FFF;
}

#nav ul > li:last-child i.fa:before {
  position: absolute;
  height: 13px;
  width: 5px;
  top: 10px;
  left: 4px;
  content: "";
  border-left: 1px solid #FFF;
}

#nav ul > li > a {
  border-left: 1px solid #f0f0f0;
  padding: 0 20px;
  display: block;
  color: #444;
}

#nav ul > li.active a,
#nav ul > li a:hover {
  text-decoration: none;
  color: #3281dc;
}

#nav ul > li.active i.fa,
#nav ul > li:hover i.fa {
  border-color: #3281dc;
}

#nav ul > ul {
  border-left: 1px solid #f0f0f0;
}

#nav ul > ul > li:before {
  position: absolute;
  content: '';
  top: 19px;
  left: -40px;
  height: 5px;
  width: 35px;
  border-top: 1px solid #F0F0F0;
}

#article {
  margin-left: 170px;
}
#article > ul li {
  list-style: none;
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#article li:last-child {
  border-bottom: none;
}

#article li > div:first-child {
  float: left;
}

#article li > div:nth-child(2) {
  margin-left: 90px;
}

#article li .date h2 {
  margin: 0;
  font-size: 22px;
}

#article li .date {
  width: 70px;
  font-size: 16px;
  line-height: 25px;
}

#article li .title {
  color: #1c86e9;
  margin-bottom: 10px;
  font-size: 18px;
}

#article li .tag {
  color: #bbb;
}

#article li .excerpt {
  line-height: 25px;
  color: #666;
}

/*
 * pagination
 *
 * .pagination>ul>li*4>a
 */

.pagination {
  line-height: 30px;
  float: right;
  padding: 0 30px;
}

.pagination > ul {
  margin: 0;
  padding: 0;
}

.pagination > ul:after {
  content: " ";
  display: table;
  clear: both;
}

.pagination > ul > li {
  list-style: none;
  display: block;
  float: left;
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.pagination > ul > li ~ li {
  margin-left: 20px;
}

.pagination > ul > li a {
  display: block;
  font-size: 16px;
  color: #333;
}

.pagination > ul > li.active,
.pagination > ul > li:hover {
  background-color: #666;
}

.pagination > ul > li.active a,
.pagination > ul > li a:hover {
  color: #fff;
  text-decoration: none;
}

#download > .p {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

#download > .p.n {
  border: none;
}

#download ul {
  margin-bottom: 20px;
  padding: 0;
}

#download ul li {
  list-style: none;
}

#download .lab {
  float: left;
  width: 60px;
  text-align: right;
}

#download .content {
  margin-left: 80px;
}

#download .bottom {
  padding: 20px 5px;
}

#download .bottom .btn {
  width: 200px;
  background-color: #1C86E9;
}

#download .bottom .btn:hover {
  background-color: #036DD0;
}

#doc {
  margin-left: 200px;
}

#doc h2 span {
  border-bottom: 2px solid #58aaf7;
  padding: 5px 0;
}

#doc h2 {
  border-bottom: 1px solid #58aaf7;
  line-height: 32px;
}

/**
 * 开发者页面样式
 */

#steps {
  margin: 50px 0;
}

#steps ul {
  padding: 0;
}

#steps ul > li {
  float: left;
  position: relative;
}

#steps ul > li~li {
  margin-left: 40px;
}

#steps ul > li a {
  display: block;
}

#steps ul > li .icon {
  border: 3px solid #ddd;
  border-radius: 15px;
  width: 180px;
  height: 77px;
}

#steps ul > li .text {
  line-height: 40px;
  color: #27426b;
  text-align: center;
  font-size: 14px;
}

#steps .edit-img {
  background: url('../images/edit.png') center center no-repeat;
}

#steps .upload-img {
  background: url('../images/upload.png') center center no-repeat;
}

#steps .download-img {
  background: url('../images/download.png') center center no-repeat;
}

#developer .action {
  text-align: center;
}

#developer .btn {
  padding: 10px 70px;
  border-radius: 0;
  background-color: #5CABF3;
  border: none;
}

#developer .btn:hover {
  background-color: #4392DA;
}

#help {
  margin-left: 200px;
  line-height: 25px;
}

#help h2 {
  border-bottom: 1px solid #58AAF7;
  line-height: 32px;
  font-size: 14px;
}
#help h2 > span {
  border-bottom: 2px solid #58AAF7;
  padding: 5px 0;
}
#help h3 {
  font-weight: normal;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

#help h3::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  content: '▸';
}
#help h3.expand::before {
  content: '▾';
}

#help h3 ~ div {
  display: none;
  padding: 15px;
}

#help h3.expand + div {
  background-color: #F5F5F5;
  display: block;
}

#about p {
  font-size: 14px;
  line-height: 28px;
}

#about h2 {
  border-bottom: 1px solid #EEE;
  line-height: 2;
}

#about h3 {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #58aaf7;
  line-height: 32px;
}

#about h3 span {
  border-bottom: 2px solid #58aaf7;
  padding: 5px 0;
}


/**
 * 广告产品页
 */

#nav-list [class*='icon-'] {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  margin-right: 8px;
}

.icon-wall {
  background: url('../images/icon-wall.png') center center no-repeat;
}

.icon-list {
  background: url('../images/icon-list.png') center center no-repeat;
}

.icon-stream {
  background: url('../images/icon-stream.png') center center no-repeat;
}

#product p {
  font-size: 14px;
}
#product .block {
  height: 490px;
  padding: 40px 0;
  position: relative;
}

#product .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

#product .content.left {
  margin-right: 210px;
}

#product .content.right {
  margin-left: 210px;
}
#product .content.left~.img {
  float: right;
}
#product .content.right~.img {
  float: left;
}

@media handheld, only screen and (max-width: 767px) {
  #nav-list {
    float: none;
    width: auto;
    margin: 10px 15px;
  }

  .article {
    margin: 10px 15px;
  }

  #nav {
    display: none;
  }

  #doc,
  #help {
    margin: 0 20px;
  }

  header .nav {
    display: none;
  }

  h2.title {
    text-align: center;
  }

  footer table.address {
    display: none;
  }
  .service .bg:first-child {
    margin-right: 0;
  }
  .carousel > div {
    width: auto;
    padding-top: 30px;
  }
  #loginform {
    position: static;
    margin: 0 auto;
  }
  #news > li a {
    white-space: initial;
    float: none;
  }
}
