$gap: 20px
$gap-s: $gap / 2
$gap-xs: $gap / 4
$gap-l: $gap * 2
$gap-xl: $gap * 4

$font-color: #98B8F6
$deep-font-color: #3767a7
$font-gray-color: #666
$brand-color: #2688e6
$footer-color: #3767a7
$footer-bg-color: #09203b
$active-color: #98B8F6
$top-bar-color: #C1B2B1
$top-bar-background-color: #141e38
$shallow-background-color: #0f2a4a
$deep-background-color: #09203b

$secondary-color: #518DA3
$muted-color: #BBCADA

$top-bar-offset-lg: 50px
$top-bar-offset-md: 20px
$top-bar-offset-sm: 15px
$top-bar_height: 70px