<div id="top-slide" class="carousel slide single-column">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item item-0">
      <div class="content">
        <h3>New Global SDK:</h3>
        <p>Scale your user base to the world and monetize.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="features">
  <div class="feature">
    <h3>Developer</h3>
    <p class="desc">
      Significantly boost your revenue in all countries through a simple, elegant and powerful mobile offer SDK.
    </p>
  </div>
  <div class="feature feature-1">
    <h3>Advertiser</h3>
    <p class="desc">
      Scale your user base across six continents to 200+ countries and important emerging markets.
    </p>
  </div>
  <div class="feature feature-2">
    <h3>Dianjoy Global</h3>
    <p class="desc">
      Strong technology and global resources make into a trustworthy global platform where advertisers meet apps.
    </p>
  </div>
</div>

<hr class="container" />
<section class="container" id="notice">
  <h2>Pre-registration Opened!</h2>
  <p>
    Dianjoy Global Offerwall SDK alpha (non-incent/incent) will be released in August 2013 to close test users. Pre-registration is open to developers, among registered developers we will choose 5-10 for the close test. Beta version will be released in September 2013 to public.
  </p>
  <p class="big">
    For pre-registration please click on the button below. Only two steps are needed:
  </p>
  <ol>
    <li>Enter your email address</li>
    <li>Enter your personal information such as name and contact</li>
  </ol>
</section>
<div id="signup">
  <a href="#popup" class="btn btn-primary btn-large" role="button" data-toggle="modal">Free Pre-registration <i class="icon-arrow-right icon-white"></i></a>
</div>

<dl id="qa" class="container">
  <dt>Q：How do you charge advertisers?</dt>
  <dd>
    <div class="answer">A</div>
    We work with advertisers on a cost-per-install (CPI) or cost-per-action (CPA) basis, in order to minimize advertisers’ risk and optimize ROI.
  </dd>
  <dt>Q：How do you pay developers?</dt>
  <dd>
    <div class="answer">A</div>
    We pay developers by cost-per-install (CPI) or cost-per-action (CPA). Payment goes through bank transfer on a weekly basis.
  </dd>
</dl>

<div class="modal fade hide" id="popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Free Pre-registration</h4>
  </div>
  <div class="modal-body">
    <form action="/dev/user/test-request.php" class="form-horizontal" id="signup-form">
      <div class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
          <input type="email" class="input-large" name="email" id="email" required="true" />
        </div>
      </div>
      <div class="control-group">
        <label for="username" class="control-label">Name</label>
        <div class="controls">
          <input type="text" class="input-large" name="username" id="username" require="true" />
        </div>
      </div>
      <div class="control-group">
        <label for="qq" class="control-label">QQ</label>
        <div class="controls">
          <input type="text" class="input-large" name="qq" id="qq" />
        </div>
      </div>
      <div class="control-group">
        <label for="phone" class="control-label">Mobile</label>
        <div class="controls">
          <input type="text" class="input-large" name="phone" id="phone" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="signup-form">Submit</button>
    <button type="button" class="btn">Cancel</button>
  </div>
</div>