<div id="top-slide" class="carousel slide single-column">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item item-0">
      <div class="content">
        <h3>挺进美帝，Follow me</h3>
        <p>向海外输出价值观的航空母舰<br />点乐广告SDK海外版，敬请期待</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="features">
  <div class="feature">
    <h3>开发者</h3>
    <p class="desc">
      再也不用受应用商店的气，被安全软件误报，被刁钻用户指责<br />
      无论是否支持付费的国家和地区，给你最高的收入<br />
      我们负责！
    </p>
  </div>
  <div class="feature feature-1">
    <h3>广告主</h3>
    <p class="desc">
      再也不用打200个包，花大量推广费还要天天伺候渠道<br />
      帮您开拓超过200个国家和地区的新市场，不断优化ROI<br />
      我们负责！
    </p>
  </div>
  <div class="feature feature-2">
    <h3>点乐海外平台</h3>
    <p class="desc">
      带来海外最优质的推广资源，用一流的技术打造广告SDK<br />
      为您打开全球的流量网络，我们默默全力以赴<br />
      祝您成功！
    </p>
  </div>
</div>

<hr class="container" />
<section class="container" id="notice">
  <h2>预注册现已开始</h2>
  <p>
    点乐海外Offerwall SDK测试版（推荐/积分墙）将在2013年8月开放给第一批用户，2013年9月正式上线。日前已开放测试申请，我们将从申请的开发者中选择5到10位作为第一批用户。
  </p>
  <p class="big">
    申请请点击下方的按钮。只需以下两步：
  </p>
  <ol>
    <li>填写您的邮箱</li>
    <li>提交几项基本信息（比如您的身份和联系方式）</li>
  </ol>
</section>
<div id="signup">
  <a href="#popup" class="btn btn-primary btn-large" role="button" data-toggle="modal">申请免费测试 <i class="icon-arrow-right icon-white"></i></a>
</div>

<dl id="qa" class="container">
  <dt>问：Google Play开发者如何顺利付款注册？</dt>
  <dd>
    <div class="answer">答</div>
    不需要一定是美国信用卡，只要是 Visa、万事达等信用卡均可以，国内信用卡比如招行信用卡，国家选择“香港”，也可以正常支付完成注册。
  </dd>
  <dt>问：链向Google Play的下载如何统计？</dt>
  <dd>
    <div class="answer">答</div>
    通常是通过Google play的Referral。参考<a href="http://goo.gl/poLtHI" target="_blank">goo.gl/poLtHI</a>。
  </dd>
  <dt>问：如何有效提高Google Play的排名？</dt>
  <dd>
    <div class="answer">答</div>
    设计病毒营销；鼓励用户推荐；付费推广；邀请评分；及时更新；给用户理由不卸载；减少crash。
  </dd>
</dl>

<div class="modal fade hide" id="popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>申请免费测试</h4>
  </div>
  <div class="modal-body">
    <form action="/dev/user/test-request.php" class="form-horizontal" id="signup-form">
      <div class="control-group">
        <label for="email" class="control-label">邮箱</label>
        <div class="controls">
          <input type="email" class="input-large" name="email" id="email" required="true" />
        </div>
      </div>
      <div class="control-group">
        <label for="username" class="control-label">称呼</label>
        <div class="controls">
          <input type="text" class="input-large" name="username" id="username" require="true" />
        </div>
      </div>
      <div class="control-group">
        <label for="qq" class="control-label">QQ</label>
        <div class="controls">
          <input type="text" class="input-large" name="qq" id="qq" />
        </div>
      </div>
      <div class="control-group">
        <label for="phone" class="control-label">联系电话</label>
        <div class="controls">
          <input type="text" class="input-large" name="phone" id="phone" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="signup-form">提交</button>
    <button type="button" class="btn">取消</button>
  </div>
</div>