<div class="grid">
  <h2>联系我们</h2>
  <div class="col-6-12">
    <h3>广告投放</h3>
    <table class="table">
      <tr>
        <td>北京</td>
        <td>TEL: 010-57298642 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2215006476&amp;site=dianjoy&amp;menu=yes">2215006476</a>
 <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1014202874&amp;site=dianjoy&amp;menu=yes">1014202874</a>
</td>
      </tr>
      <tr>
        <td>广州</td>
        <td>TEL: 13520327725 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=294041872&amp;site=dianjoy&amp;menu=yes">294041872</a>
 <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=879509586&amp;site=dianjoy&amp;menu=yes">879509586</a>
</td>
      </tr>
      <tr>
        <td>上海</td>
        <td>TEL: 021-62187275 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2980889055&amp;site=dianjoy&amp;menu=yes">2980889055</a>
 <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=252581403&amp;site=dianjoy&amp;menu=yes">252581403</a>
</td>
      </tr>
    </table>
  </div>
  <div class="col-6-12">
    <h3>开发者合作</h3>
    <table class="table">
      <tr>
        <td>北京</td>
        <td>TEL: 010-57298642 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=473356366&amp;site=dianjoy&amp;menu=yes">473356366</a>
<a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2692414691&amp;site=dianjoy&amp;menu=yes">2692414691</a>
</td>
      </tr>
      <tr>
        <td>西安</td>
        <td>TEL: 029-88814932 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=641397007&amp;site=dianjoy&amp;menu=yes">641397007</a>
 <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2954378820&amp;site=dianjoy&amp;menu=yes">2954378820</a>
</td>
      </tr>
      <tr>
        <td>开发者群</td>
        <td>QQ: 179416952</td>
      </tr>
      <tr>
        <td>技术支持</td>
        <td>Email: dan.sun@dianjoy.com QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2781307851&amp;site=dianjoy&amp;menu=yes">2781307851</a>
</td>
      </tr>
    </table>
  </div>
</div>
<div class="grid">
  <hr>
  <h3>公司地址</h3>
  <div id="addresses" class="col-4-12">
    <div class="address active">
      <div>北京办公区</div>
      <address>
        <p>地址：朝阳区和平西街3号三川商务园B座北侧西桥办公室</p>
        <p>电话：010-57298483</p>
      </address>
    </div>
    <div class="address">
      <div>广州办公区</div>
      <address>
        <p>地址：天河区华强路3号富力盈力大厦南塔2504</p>
        <p>电话：13520327725</p>
      </address>
    </div>
    <div class="address">
      <div>上海办公区</div>
      <address>
        <p>地址：上海市普陀区曹杨路450号绿地和创大厦1403室</p>
        <p>电话：021-62187275</p>
      </address>
    </div>
    <div class="address">
      <div>西安办公区</div>
      <address>
        <p>地址：陕西省西安市高新区高新路水晶城A座1701室</p>
        <p>电话：029-88814932</p>
      </address>
    </div>
  </div>
  <div class="col-8-12">
    <div class="maps">
      <a href="#beijing-map" role="button" data-toggle="modal">
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&amp;center=116.417975,39.968546&amp;zoom=16&amp;markers=116.416400,39.967159" scale="0">
      </a>
      <a href="#guangzhou-map" role="button" data-toggle="modal">
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&amp;center=113.341179,23.115652&amp;zoom=16&amp;markers=113.341179,23.115652" scale="0">
      </a>
      <a href="#shanghai-map" role="button" data-toggle="modal">
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&amp;center=121.420249,31.236707&amp;zoom=16&amp;markers=121.420249,31.236707" scale="0">
      </a>
      <a href="#xian-map" role="button" data-toggle="modal">
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&amp;center=108.900368,34.223757&amp;zoom=16&amp;markers=108.900368,34.223757" scale="0">
      </a>
    </div>
  </div>
</div>
<div id="beijing-map" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="Dianjoy Beijing">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">点乐北京办公室</h3>
      </div>
      <div class="modal-body">
        <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://l.soso.com/1688635199"></iframe>
      </div>
    </div>
  </div>
</div>
<div id="guangzhou-map" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="Dianjoy Guangzhou">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">点乐广州办公室</h3>
      </div>
      <div class="modal-body">
        <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://l.soso.com/1688643573"></iframe>
      </div>
    </div>
  </div>
</div>
<div id="shanghai-map" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="Dianjoy Shanghai">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">点乐上海办公室</h3>
      </div>
      <div class="modal-body">
        <iframe width="520" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://l.soso.com/1937459401"></iframe>
      </div>
    </div>
  </div>
</div>
<div id="xian-map" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="Dianjoy Xian">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">点乐西安办公室</h3>
      </div>
      <div class="modal-body">
        <iframe width="520" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://l.soso.com/1937469075"></iframe>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#addresses').on('click', '.address', function(e) {
      var div = $(e.currentTarget);
      div.addClass('active').siblings().removeClass('active');
      var i = div.prevAll().length;
      $('.maps a').hide();
      $('.maps a').eq(i).css('display', 'block');
    })
  })
</script>

