<div id="advertiser-topbar" class="container">
  <div id="feedback">
    {{#feedback}}
    <div class="feedback-item">
      {{{content}}}
      {{{thumbnail}}}
    </div>
    {{/feedback}}
  </div>
  <ul class="nav nav-tabs page-nav">
    <li class="active">
      <a href="#tech" data-toggle="tab">技术优势</a>
    </li>
    <li><a href="#project" data-toggle="tab">应用推广方案</a></li>
    <li><a href="#cases" data-toggle="tab">合作案例</a></li>
  </ul>
  <div class="nav-bottom"></div>
</div>
<div class="tab-content container">
  <div class="tab-pane active" id="tech">
    1
  </div>
  <div class="tab-pane" id="project">
    2
  </div>
  <div class="tab-pane" id="cases">
    3
  </div>
</div>