<div class="container">
  <h2>{{category}}</h2>
  {{#description}}
  <p class="lead">
    {{description}}
  </p>
  {{/description}}
  <div id="nav">
    <ul>
      <li><i class="fa"></i><a href="/news">全部</a></li>
      <li><i class="fa"></i><a href="/news?tag=gonggao">点乐公告</a></li>
      <li><i class="fa"></i><a href="/news?tag=huodong">点乐活动</a></li>
      <li><i class="fa"></i><a href="/news?tag=baodao">媒体报道</a></li>
    </ul>
  </div>
  <div id="article">
    <ul>
      {{#blog}}
      <li class="clearfix">
        <div class="date">
          <span>{{year}}</span>
          <h2>{{date}}</h2>
        </div>
        <div>
          <div class="title"><a href="{{link}}" title="{{full_title}}">{{title}}</a></div>
          <div class="tag">{{tag}}</div>
          <div class="excerpt">{{{excerpt}}}</div>
        </div>
      </li>
      {{/blog}}
    </ul>
    <div class="pagination">
      <ul>
        {{#pages}}
        <li class="{{class}}"><a href="{{href}}">{{num}}</a></li>
        {{/pages}}
      </ul>
    </div>
  </div>
</div>

