<div id="category-news" class="container">
  <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
      <nav id="nav-list">
        <ul>
          <li><a href="/news">全部</a></li>
          <li><a href="/news?tag=gonggao">点乐公告</a></li>
          <li><a href="/news?tag=kaifazhegonggao">开发者公告</a></li>
          <li><a href="/news?tag=huodong">点乐活动</a></li>
          <li><a href="/news?tag=baodao">媒体报道</a></li>
        </ul>
      </nav>
    </div>
    <div id="article" class="col-md-8 col-sm-12">
      <ul class="article-list">
        {{#blog}}
        <li class="row">
          <div class="date col-md-1 col-xs-12">
            <span>{{year}}</span>
            <h2>{{date}}</h2>
          </div>
          <div class="col-md-11 col-xs-12">
            <h3 class="title"><a href="{{link}}" title="{{full_title}}">{{title}}</a></h3>
            <div class="tag">{{tag}}</div>
            <p class="excerpt">{{{excerpt}}}</p>
          </div>
        </li>
        {{/blog}}
      </ul>
      <ul class="pagination pull-right">
        {{#pages}}
        <li class="{{class}}"><a href="{{href}}">{{num}}</a></li>
        {{/pages}}
      </ul>
    </div>
  </div>
</div>

