<div class="grid grid-pad">
  <h2>联系我们</h2>
  <div class="col-6-12">
    <h3>广告投放</h3>
    <table class="table">
      <tr>
        <th>北京</th>
        <td>TEL: 010-58573088 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2689170507&site=dianjoy&menu=yes">2689170507</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=1014202874&site=dianjoy&menu=yes">1014202874</a>
        </td>
      </tr>
      <tr>
        <th>广州</th>
        <td>QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=294041872&site=dianjoy&menu=yes">294041872</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=879509586&site=dianjoy&menu=yes">879509586</a>
        </td>
      </tr>
      <tr>
        <th>上海</th>
        <td>TEL: 021-62187275 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2980889055&site=dianjoy&menu=yes">2980889055</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=252581403&site=dianjoy&menu=yes">252581403</a>
        </td>
      </tr>
      <tr>
        <th>深圳</th>
        <td>QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=5822207&site=dianjoy&menu=yes">5822207</a>
        </td>
      </tr>
      <tr>
        <th>iOS</th>
        <td>QQ：<a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2858661171&site=dianjoy&menu=yes">2858661171</a> 电话：18510238828</td>
      </tr>
    </table>
  </div>
  <div class="col-6-12">
    <h3>开发者合作</h3>
    <table class="table">
      <tr>
        <td>北京</td>
        <td>TEL: 010-58573088 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=473356366&site=dianjoy&menu=yes">473356366</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2692414691&site=dianjoy&menu=yes">2692414691</a>
        </td>
      </tr>
      <tr>
        <td>西安</td>
        <td>TEL: 029-88814932 QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=641397007&site=dianjoy&menu=yes">641397007</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2954378820&site=dianjoy&menu=yes">2954378820</a>
          <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=7291014&site=dianjoy&menu=yes">7291014</a>
        </td>
      </tr>
      <tr>
        <td>开发者群</td>
        <td>QQ: 179416952</td>
      </tr>
      <tr>
        <td>技术支持</td>

        <td>Email: dan.sun@dianjoy.com QQ:  <a target="blank" href="http://wpa.qq.com/msgrd?v=3&uin=2781307851&site=dianjoy&menu=yes">2781307851</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="grid grid-pad">
  <hr>
  <h3>公司地址</h3>
  <div id="addresses" class="col-4-12">
    <div class="address active">
      <div>北京办公区</div>
      <address>
        <p>地址：北京市西城区裕民东路3号京版信息港5层</p>
        <p>电话：010-58573088</p>
      </address>
    </div>
    <div class="address">
      <div>广州办公区</div>
      <address>
        <p>地址：广州天河区华强路3号富力盈力大厦北塔1606</p>
        <p></p>
      </address>
    </div>
    <div class="address">
      <div>上海办公区</div>
      <address>
        <p>地址：上海市普陀区中江路388号SOHO国盛中心2号楼1203室</p>
        <p>电话：021-62187275</p>
      </address>
    </div>
    <div class="address">
      <div>西安办公区</div>
      <address>
        <p>地址：陕西省西安市雁塔区高新路41号水晶城A座1701室</p>
        <p>电话：029-88814932 (开发者合作)</p>
      </address>
    </div>
    <div class="address">
      <div>深圳办公区</div>
      <address>
        <p>地址：深圳市南山区高新南四道泰邦科技大厦11层1105室</p>
      </address>
    </div>
  </div>
  <div class="col-8-12">
    <ul class="maps">
      <li>
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&center=116.394395,39.970138&zoom=16&markers=116.394395,39.970138" scale="0">
      </li>
      <li>
        <img width="600" height="290" src="http://apis.map.qq.com/ws/staticmap/v2/?center=23.126462,113.317399&zoom=16&size=600*290&maptype=roadmap&markers=size:large|color:0x008AE6|label:D|23.126962,113.317199&key=KT2BZ-VC4RU-RVFVC-464Z4-JTID3-V3FRN" scale="0">
      </li>
      <li>
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&center=121.395269,31.225370&zoom=16&markers=121.395269,31.225370" scale="0">
      </li>
      <li>
        <img width="600" height="290" src="http://st.map.soso.com/api?size=600*290&center=108.900368,34.223757&zoom=16&markers=108.900368,34.223757" scale="0">
      </li>
      <li>
        <img width="600" height="290" src="http://apis.map.qq.com/ws/staticmap/v2/?center=22.535610,113.952470&zoom=16&size=600*290&maptype=roadmap&markers=size:large|color:0x008AE6|label:D|22.535610,113.952470&key=KT2BZ-VC4RU-RVFVC-464Z4-JTID3-V3FRN" scale="0">
      </li>
    </ul>
  </div>
</div>
<script>
  $(function(){
    $('#addresses').on('click', '.address', function(e) {
      var div = $(e.currentTarget);
      div.addClass('active').siblings().removeClass('active');
      var i = div.index();
      $('.maps li').hide().eq(i).css('display', 'block');
    })
  })
</script>

