<div class="container">
  <h2>开发者服务</h2>
  <div id="nav-list"  data-spy="affix" data-offset-top="60" data-offset-bottom="330">
    <ul>
      <li><a href="#advantage"><i class="fa fa-star-o"></i>点乐优势</a></li>
      <li><a href="#who"><i class="fa fa-thumbs-o-up"></i>谁在用点乐</a></li>
      <li><a href="#income"><i class="fa fa-money"></i>获取收入三步走</a></li>
    </ul>
  </div>
  <div id="developer" class="article">
    <div>
      <div id="advantage"></div>
      <h3><span>点乐优势</span></h3>
      <h4>选择点乐，您将获得</h4>
      <ul>
        <li>全行业领先的广告SDK和广告服务</li>
        <li>从注册到取得收入只需几小时的便捷体验</li>
        <li>7X24广告服务、99.8%在线保证和100%故障赔付</li>
        <li>公正透明的结算体系和实时收入统计</li>
        <li>方便的后台管理和快速收入查询</li>
        <li>最给力的开发者奖励活动</li>
      </ul>
      <h4>好平台</h4>
      <p>
      我们将多年来全球互联网广告系统的研发经验平移到移动互联网，牺牲最少的用户体验，通过大数据用户行为分析和基于兴趣的推荐算法，向正确的用户推荐合适的广告，从而最优化点击率和产品转化率。
      </p>
      <h4>好广告</h4>
      <p>我们严格把关广告质量和展现形式，不让擦边球广告或强制推广为您的应用带来负面影响。</p>
      <h4>好收入</h4>
      <p>您为用户带来满足各种需要的应用，我们的使命是带给您最高的广告效益。我们致力于给优秀的应用开发者更好的生态环境。</p>
      <p>有什么好处？有多简单？</p>
      <p>我们为开发者提供一流的广告平台及SDK、广告资源、单价、技术服务和结算政策。</p>
      <p>只需注册提交应用并审核通过、嵌入SDK、完成测试并发布，当您应用上线立刻会有收入，满100元即可提现，更有多种奖励活动。</p>
      <h4>现在就加入点乐吧!</h4>
    </div>
    <div>
      <div id="who"></div>
      <h3><span>谁在用点乐</span></h3>
      <p>共有超过7000款App在使用点乐SDK</p>
      <h4>畅无限</h4>
      <p>通过“畅豆”获得免费WIFI时间，每通过点乐试玩一个应用可上网两个半小时。点乐为畅无线提供定制数据SDK，帮助畅无线将点乐的广告列表无缝展示在自身的应用中。</p>
      <h4>段子填空</h4>
      <p>用户通过下载应用可以免费获取“猜币”，从而顺利通关！点乐广告列表与游戏功能的完美结合，让更多不愿付费的玩家享受到了付费玩家一样的超酷体验。</p>
      <h4>淘流量</h4>
      <p>想要获取更多手机流量？只要安装点乐广告列表的应用，即可轻松获取手机流量。点乐广告列表为淘流量用户提供了方便快捷的流量通道！</p>
      <h4>天朝教育委员会</h4>
      <p>用户可以通过点乐广告列表的“猫币”来免费获取通关道具，在无需支付现金的情况下通过升学之路的测试。点乐为游戏提供定制版的SDK，使游戏与广告列表完美的结合在一起！</p>
      <h4>pc蛋蛋（新增加的合作案例）</h4>
      <p>点乐广告列表作为pc蛋蛋游戏深度体验的一个补充，给用户最大限度获取“金蛋”的机会，两者的结合，使pc蛋蛋的用户乐在其中！</p>
    </div>
    <div>
      <div id="income"></div>
      <h3><span>获取收入三步走</span></h3>
      <div id="steps">
        <ul class="clearfix">
          <li>
            <a href="#">
              <div class="icon edit-img"></div>
              <div class="text">注册点乐账号</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon upload-img"></div>
              <div class="text">上传应用通过审核</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon download-img"></div>
              <div class="text">下载SDK嵌入</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="action">
      <a href="dev/register.php" class="btn btn-primary">注册</a>
    </div>
  </div>
</div>

