<footer>
  <div class="grid grid-pad">
    <div class="col-9-12">
      <table class="address">
        <tr>
          <td>
            <dl>
              <dt>&middot;   北京</dt>
              <dd>
                北京市朝阳区和平西街3号三川商务园B座北侧西桥办公室<br>
                +86(0)10-57298483/57298642
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>&middot;   广州</dt>
              <dd>
                广州市天河区华强路3号富力盈力大厦南塔2504<br>
                13520327725
              </dd>
            </dl>
          </td>
        </tr>
        <tr>
          <td>
            <dl>
              <dt>&middot;   上海</dt>
              <dd>
                上海市普陀区曹杨路450号绿地和创大厦1403室<br>
                021-62187275
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>&middot;   西安</dt>
              <dd>
                陕西省西安市高新区高新路水晶城A座1701室<br>
                029-88814932
              </dd>
            </dl>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-3-12">
      <ul class="others">
        <li><a href="/about">关于点乐</a></li>
        <li><a href="/partners">合作伙伴</a></li>
        <li><a href="/about/jobs">加入点乐</a></li>
        <li><a href="/contact">联系我们</a></li>
        <li><a href="/sitemap">网站地图</a></li>
        <li class="weibo"><a href="http://weibo.com/dianjoy">微博&nbsp;&nbsp;<i class="icon-weibo"></i></a> </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    点乐 © 2014 保留一切权力     京ICP备12010382号
  </div>
</footer>
<script>
  $('header .nav a').each(function() {
    var path = this.pathname;
    var curr = window.location.pathname;
    if (curr == '/' && path == '/') return this.style.fontWeight = 'bold';
    if (path !== '/' && curr.indexOf(path) === 0) {
      this.style.fontWeight = 'bold';
    }
  })
</script>
</body>
</html>
