<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-xs-12">
        <div class="row address">
          <dl class="col-sm-4 col-xs-6">
            <dt>&middot;   北京</dt>
            <dd>
              北京市西城区裕民东路3号京版信息港5层<br>
            </dd>
          </dl>
          <dl class="col-sm-4 col-xs-6">
            <dt>&middot;   广州</dt>
            <dd>
              广州天河区华强路3号富力盈力大厦北塔1606<br>
            </dd>
          </dl>
          <dl class="col-sm-4 col-xs-6">
            <dt>&middot;   深圳</dt>
            <dd>
              深圳市南山区高新南四道泰邦科技大厦11层1105室<br>
            </dd>
          </dl>
          <dl class="col-sm-4 col-xs-6">
            <dt>&middot;   上海</dt>
            <dd>
              上海市普陀区中江路388号SOHO国盛中心2号楼1203室<br>
            </dd>
          </dl>
          <dl class="col-sm-4 col-xs-6">
            <dt>&middot;   西安</dt>
            <dd>
              陕西省西安市雁塔区高新路41号水晶城A座1701室<br>
            </dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul class="others row">
          <li class="col-sm-12 col-xs-4"><a href="/about">关于点乐</a></li>
          <li class="col-sm-12 col-xs-4"><a href="/partners">合作伙伴</a></li>
          <li class="col-sm-12 col-xs-4"><a href="/about/jobs">加入点乐</a></li>
          <li class="col-sm-12 col-xs-4"><a href="/contact">联系我们</a></li>
          <li class="col-sm-12 col-xs-4"><a href="/sitemap">网站地图</a></li>
          <li class="weibo col-sm-12 col-xs-4"><a href="http://weibo.com/dianjoy">微博&nbsp;&nbsp;<i class="icon-weibo"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="copyright">
    点乐 © 2015 保留一切权力 京ICP备12010382号 京公网安备11010502025676
  </p>
  <p class="service-icons">
    <a key="562f477befbfb040f9aafe4b" logo_size="83x30" logo_type="official" href="http://www.anquan.org"><script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script></a>
  </p>
</footer>

<!--[if lt IE 9]>
<script src="//cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<script src="//cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script>
  var curr = window.location.pathname;
  $('#main-menu .nav a').addClass(function() {
    var path = this.pathname;
    if (curr === '/' && path === '/' || path != '/' && curr.indexOf(path) === 0) {
      return 'active';
    }
  });

  function refresh_code() {
    this.src = '/dev/inc/showimg.php?timestamp=' + Date.now();
  }
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('set', 'dimension1', '{{channel}}');
  ga('create', 'UA-35957679-4', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
