<div id="key-slide">
  <div class="carousel slide" data-ride="carousel" id="key-slide-inner" data-interval="10000">
    <ol class="carousel-indicators">
      <li class="active" data-target="#key-slide-inner" data-slide-to="0"></li>
      <li data-target="#key-slide-inner" data-slide-to="1"></li>
      <li data-target="#key-slide-inner" data-slide-to="2"></li>
      <li data-target="#key-slide-inner" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <p>10亿用户精准画像，9大维度定向投放，每秒完成30万次应用下载</p>
        <a href="/advertiser" class="read-more">Read more</a>
      </div>
      <div class="item">
        <h2>点乐广告SDK</h2>
        <p>海量优质媒体资源，覆盖3万合作开发者，最大化开发者利益</p>
        <a href="/developer" class="read-more">Read more</a>
      </div>
      <div class="item">
        <h2>庞大的APP矩阵</h2>
        <p>红包锁屏、试玩团、红包WIFI</p>
        <a href="/product" class="read-more">Read more</a>
      </div>
      <div class="item">
        <h2>点乐新闻动态</h2>
        <p>{{latest.title}}</p>
        <a href="{{latest.link}}" class="read-more">Read more</a>
      </div>
    </div>
    <a class="left carousel-control" href="#key-slide-inner" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#key-slide-inner" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container" id="features">
  <h2>为什么选择我们？</h2>
  <p class="leading">上万家广告主的信赖之选</p>
  <div class="row">
    <div class="col-sm-3 col-xs-6 item">
      <i class="icon icon-focus"></i>
      <h3>精准定向</h3>
      <p>10亿用户精准画像<br>九大维度定向投放</p>
    </div>
    <div class="col-sm-3 col-xs-6 item">
      <i class="icon icon-trend"></i>
      <h3>流量保障</h3>
      <p>安卓激励分发量第一<br>ios分发量前三名</p>
    </div>
    <div class="col-sm-3 col-xs-6 item">
      <i class="icon icon-dm"></i>
      <h3>数据挖掘</h3>
      <p>海量数据挖掘分析<br>基于兴趣推荐算法</p>
    </div>
    <div class="col-sm-3 col-xs-6 item">
      <i class="icon icon-custom"></i>
      <h3>定制服务</h3>
      <p>24*7一对一专人服务<br>定制全方位移动推广解决方案</p>
    </div>
  </div>
</div>
<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>服务客户</h2>
        <p class="leading">以卓越价值赢得客户信赖</p>
        <p class="icon-list left">
          <i class="border-part border-top-part"></i>
          <i class="icon-clients icon-0"></i>
          <i class="icon-clients icon-1"></i>
          <i class="icon-clients icon-2"></i>
          <i class="icon-clients icon-3"></i>
          <i class="icon-clients icon-4"></i>
          <br>
          <i class="icon-clients icon-5"></i>
          <i class="icon-clients icon-6"></i>
          <i class="icon-clients icon-7"></i>
          <i class="icon-clients icon-8"></i>
          <i class="icon-clients icon-9"></i>
          <br>
          <i class="icon-clients icon-10"></i>
          <i class="icon-clients icon-11"></i>
          <i class="icon-clients icon-12"></i>
          <i class="icon-clients icon-13"></i>
          <i class="icon-clients icon-14"></i>
          <br>
          <i class="icon-clients icon-15"></i>
          <i class="icon-clients icon-16"></i>
          <i class="icon-clients icon-17"></i>
          <i class="icon-clients icon-18"></i>
          <i class="icon-clients icon-19"></i>
          <i class="border-part border-bottom-part"></i>
        </p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h2>合作开发者及广告代理</h2>
        <p class="leading">一站式覆盖，海量投放资源，打造移动推广生态圈</p>
        <p class="icon-list right">
          <i class="border-part border-top-part"></i>
          <i class="icon-clients icon-0"></i>
          <i class="icon-clients icon-1"></i>
          <i class="icon-clients icon-2"></i>
          <i class="icon-clients icon-3"></i>
          <i class="icon-clients icon-4"></i>
          <br>
          <i class="icon-clients icon-5"></i>
          <i class="icon-clients icon-6"></i>
          <i class="icon-clients icon-7"></i>
          <i class="icon-clients icon-8"></i>
          <i class="icon-clients icon-9"></i>
          <br>
          <i class="icon-clients icon-10"></i>
          <i class="icon-clients icon-11"></i>
          <i class="icon-clients icon-12"></i>
          <i class="icon-clients icon-13"></i>
          <i class="icon-clients icon-14"></i>
          <br>
          <i class="icon-clients icon-15"></i>
          <i class="icon-clients icon-16"></i>
          <i class="icon-clients icon-17"></i>
          <i class="icon-clients icon-18"></i>
          <i class="icon-clients icon-19"></i>
          <i class="border-part border-bottom-part"></i>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="business">
  <section class="container">
    <h2>合作对接：</h2>
    <ul>
      <li>【安卓】T：13520327725 | Q: 879509586</li>
      <li>【iOS】T：18510238828 | Q: 893070791</li>
      <li>【开发者】T：18681807739 | Q：1103057179</li>
      <li>【移动推广】T：18601369718 | Q：2972571</li>
    </ul>
    <br>
    <h3>友情链接：</h3>
    <ul>
      {{#partner}}
        <li class="item"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></li>
      {{/partner}}
    </ul>
  </section>
</div>