<div id="primary" class="site-content mt50 container page">
  <div id="content" role="main">
    <article id="post-{{id}}" class="{{class}}">
      <header class="entry-header">
        <h1 class="entry-title">{{title}}</h1>
      </header>

      <div class="entry-content">
        {{{content}}}
        {{page}}
      </div>
      <footer class="entry-meta">
         
      </footer>
    </article>

  </div>
  
  <!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"dianjoy"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    }());
  </script>
  <!-- Duoshuo Comment END -->
  
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_share_slide jiathis_share_24x24" id="jiathis_share_slide">
    <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
    <div class="jiathis_share_slide_inner">
      <div class="jiathis_style_24x24">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <script>
        var jiathis_config = {
          data_track_clickback: 'true',
          slide:{
            divid:'primary',
            pos:'right',
            gt:'true'
          }
        };
        </script>
        <script src="http://v3.jiathis.com/code/jia.js?uid=1362193362797406"></script>	
        <script src="http://v3.jiathis.com/code/jiathis_slide.js"></script>
      </div>
    </div>
  </div>
  <!-- JiaThis Button END -->
</div>