<div id="primary" class="site-content">
  <div id="content" role="main">
    <article id="post-{{id}}" class="{{class}}">
      <header class="entry-header">
        <h1 class="entry-title">{{title}}</h1>
      </header>

      <div class="entry-content">
        {{content}}
        {{page}}
      </div>
      <footer class="entry-meta">
         
      </footer>
  </article>

  </div>
  
  <!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"dianjoy"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    }());
  </script>
  <!-- Duoshuo Comment END -->
  
</div>