<div id="primary" class="site-content mt50 single span9">
  <div id="content" role="main">
    <article id="post-{{id}}" class="{{class}}">
      {{#is_featured}}
      <div class="label label-success featured-post">
        推荐文章
      </div>
      {{/is_featured}}
      
      <header class="entry-header">
        <h1 class="entry-title">{{full_title}}</h1>
        <ul class="breadcrumb">
          <li><a href="/">首页</a> <span class="divider">/</span></li>
          <li>{{{category}}} <span class="divider">/</span></li>
          <li class="active">正文</li>
          <li class="active date">| 发布于 {{date}}</li>
        </ul>
      </header>

      {{#is_search}}
      <div class="entry-summary label label-info mt30">
        {{{excerpt}}}
      </div>
      {{/is_search}}
      {{^is_search}}
      <div class="entry-content mt30">
        {{{content}}}
      </div>
      {{/is_search}}
      <footer class="tags">
        <hr />
        标签：{{{tags}}}
      </footer>
    </article>
  </div>
</div>