@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../define"

#business
  background-color: $shallow-background-color
  color: $deep-font-color
  font-size: 12px
  line-height: 3em
  padding: $gap-s + $gap-xs 0
  
  a, h3
    color: $font-color

  h2
    font-size: 16px
    margin: 0

  h3
    font-size: 12px
    display: inline-block

  ul
    display: inline-block
    margin: 0
    padding: 0

    li
      list-style: none
      display: inline
      padding: 0 $gap-xs

  @media (max-width: $screen-xs-max)
    &
      h2, ul, ul li
        display: block

      h2
        margin-bottom: $gap-s

      ul li + li
        margin-top: $gap-s
        margin-left: 0

      .item
        display: inline-block

  @media (min-width: $screen-md-min)
    &
      ul li
        min-width: 300px

        + li
          margin-left: 1em

        &:nth-child(n+4)
          margin-top: 1em

        &:nth-child(3n+1)
          margin-left: 0