@import "../../define"

#carousel-banner .carousel-indicators
  margin-left: 0
  right: $gap-l
  bottom: $gap-s
  text-align: right
  width: auto

  li
    color: $white
    line-height: $gap - 2px
    width: $gap
    height: $gap
    text-align: center
    text-indent: 0

    &.active
      color: $font-color