@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "compass/css3/images"
@import "compass/css3/transform"
@import "../../define"

#clients
  background-color: $deep-background-color
  padding: 0 0 $gap-l

  .block-title
    color: $font-color

  .leading
    margin-bottom: $gap + $gap-s
    font-size: 16px
    color: $deep-font-color

  header
    img
      display: block
      width: 100%
      @include rotate(180deg)

  .col-sm-6
    text-align: center
    padding: $gap-s 0

  .icon-list
    width: 330px
    display: inline-block
    padding: $gap + $gap-xs $gap
    background-color: $shallow-background-color
    border-bottom: 2px solid $font-color
    border-top: 2px solid $font-color

    .border-part
      background-image: url(../img/border-part.svg)
      display: block
      position: relative
      left: 120px
      width: $top-bar-offset-md + $top-bar_height
      height: $gap-xs
      margin: 0

    .border-top-part
      bottom: $gap + $gap-xs

    .border-bottom-part
      top: $gap + $gap-xs
      @include  rotate(180deg)

  @media (max-width: $screen-xs-max)
    &
      header img
        height: 12px

  @media (min-width: $screen-sm-min)
    &
      header img
        height: 24px

      .icon-list
        width: 390px

        &.left
          text-align: center

          &:before
            left: 0
            right: 15%

        &.right
          &:before
            left: 15%
            right: 0

        .border-part
          left: 130px

        i + i
          margin-top: $gap
          margin-left: $gap

        .icon-0
          margin: 0

        .icon-20
          margin-right: -$gap

        .icon-29
          margin-left: $gap

        .icon-37
          margin-left: $gap-l