@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "compass/css3/images"
@import "compass/css3/transform"
@import "../../define"

#clients
  background-color: #F8F9FA
  padding: 0 0 $gap-l

  header
    img
      display: block
      width: 100%
      @include rotate(180deg)

  .col-sm-5,
  .col-sm-7
    text-align: center
    padding: $gap-s 0

  .icon-list
    padding: 0 $padding-small-horizontal

  @media (max-width: $screen-xs-max)
    &
      header img
        height: 12px

      .icon-list br
        display: none

  @media (min-width: $screen-sm-min)
    &
      background: #F8F9FA url(../img/lines.png) center 150px no-repeat

      header img
        height: 24px

      .icon-list
        text-align: left
        padding: $gap + $gap-xs 0 0

        &:before
          content: ''
          position: absolute
          top: 0
          bottom: 0

        &.left
          margin-right: -30px
          text-align: right

          &:before
            left: 0
            right: 15%
            @include background-image(linear-gradient(to right, rgba(248, 249, 250, 1), rgba(248, 249, 250, 0)))

        &.right
          padding-left: 80px

          &:before
            left: 15%
            right: 0
            @include background-image(linear-gradient(to left, rgba(248, 249, 250, 1), rgba(248, 249, 250, 0)))

        i + i
          margin-top: $gap-xs
          margin-left: $gap-xs

        .icon-5
          margin-right: 20px

        .icon-20
          margin-right: -20px

        .icon-29
          margin-left: 20px

        .icon-37
          margin-left: 40px