@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../define"
@import "compass/css3/box-shadow"

#downloads
  h3
    margin: $gap 0

  ul
    padding: 0

    li
      list-style: none

      ~ li
        margin: 20px 0

      > a
        background-color: #435674
        border-radius: 3px
        display: block
        width: 200px
        line-height: 46px
        color: #fff
        @include box-shadow(0 1px 3px #888)

        &:hover
          background-color: #2A3D5B

  @media (max-width: $screen-xs-max)
    & ul li > a
      width: 100%