@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../../bower_components/colors/sass/variables"
@import "../../define"

$radius: 100px

#features
  text-align: center
  background-color: $shallow-background-color
  margin: 0
  width: 100%
  color: $font-color

  .leading
    font-size: 16px
    margin-bottom: $gap-l
    color: $deep-font-color

  .icon
    color: #A7A9AA
    display: block
    width: $radius
    height: $radius
    line-height: $radius
    border-radius: $radius / 2
    margin: 0 auto

    &:hover
      background-color: #554ae4
      color: $white

  h3
    font-size: $gap

  .item p
    color: $deep-font-color

  @media (min-width: $screen-md-min)
    &
      height: $module-height
      padding: 5% 0