@import "../../../bower_components/colors/sass/variables"
@import "../../define"

$radius: 96px

#features
  text-align: center
  padding-bottom: $gap-l

  .leading
    margin-bottom: $gap-l

  .icon
    background-color: #E0E6E9
    color: #A7A9AA
    display: block
    width: $radius
    height: $radius
    line-height: $radius
    border-radius: $radius / 2
    margin: 0 auto

    &:hover
      background-color: #98B8F6
      color: $white

  h3
    font-size: 20px
    line-height: 60px