@import "compass/css3/background-size"
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../../bower_components/colors/sass/variables"
@import "../../component/button"
@import "../../define"

#key-slide
  color: $white
  position: relative

  .item
    background-size: cover
    background-position-y: bottom
    height: 600px

    h2,
    p
      left: 0
      right: 0
      position: absolute
      text-align: center

    h2
      font-size: 5em
      margin: 0
      top: 200px

    p
      font-size: 16px
      top: 300px

    strong
      color: $font-color
      font-weight: normal

      .lg
        font-size: 2em

    .read-more
      position: absolute
      left: 50%
      top: 400px
      color: $active-color
      margin-left: -$read-more-width / 2
      background-color: transparent

    &:first-child
      background-image: url(../img/slide3.png)

      p
        top: 340px

    &:nth-child(2)
      background-image: url(../img/slide4.png)

    &:nth-child(3)
      background-image: url(../img/slide5.png)

    &:nth-child(4)
      background-image: url(../img/slide6.png)

  .carousel-indicators
    li
      width: 10%
      height: $gap-xs
      border-radius: 0
      border-color: $active-color

    .active
      margin: 1px
      background-color: $active-color

  @media (min-width: $screen-xs-max)
    .glyphicon
      height: 194px

    .glyphicon-chevron-right
      content: url(../img/chevron-right.svg)

    .glyphicon-chevron-left
      content: url(../img/chevron-left.svg)

  @media (max-width: $screen-xs-max)
    &
      .carousel, .carousel-inner, .item
        height: 280px

        .read-more
          top: 190px
          height: $gap-l
          line-height: $gap-l
          border-radius: $gap

        h2
          top: $gap-xl
          left: $gap
          right: $gap
          font-size: 2.5em

        p
          top: 140px
          left: $gap
          right: $gap

      footer img
        height: 12px

  @media (max-width: 432px)
    &
      .item
        &:first-child
          background-position-x: 40%

          .read-more
            top: 200px

          p
            top: 155px

  @media (max-width: 375px)
    &
      .item

        &:first-child
          background-image: url(../img/slide3-mobile.jpg)

          p
            top: 155px

          .read-more
            top: 200px

        h2
          top: $gap-xl

        p
          top: 140px