@import "compass/css3/background-size"
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../../bower_components/colors/sass/variables"
@import "../../component/button"
@import "../../define"

#key-slide
  position: relative

  .item
    background-size: cover
    height: 600px
    position: relative

    h2,
    p
      left: 0
      right: 0
      position: absolute
      text-align: center

    h2
      color: $white
      font-size: 5em
      top: 210px
      margin: 0

    p
      color: $white
      font-size: 16px
      top: 336px

    .read-more
      position: absolute
      left: 50%
      margin-left: -$read-more-width / 2
      top: 410px

    &:first-child
      background-image: url(../img/slide0.jpg)

  footer
    position: absolute
    bottom: 0
    width: 100%

    img
      width: 100%
      display: block

  @media (max-width: $screen-xs-max)
    &
      height: 100%

      .carousel, .carousel-inner
        height: 100%

      .item
        h2
          top: 150px
          left: $gap
          right: $gap

        p
          left: $gap
          right: $gap

      footer img
        height: 12px

  @media (max-width: 320px) // iphone5-
    & .item h2
      font-size: 2.5em

  @media (min-width: 321px) and (max-width: $screen-xs-max)
    & .item
      h2
        font-size: 3em

      p
        top: 270px

      .read-more
        top: 360px

  @media (min-width: $screen-sm-min)
    & footer img
      height: 24px

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)
    & .item
      height: 580px

  @media (max-height: 480px) // iphone 4
    & .item
      h2
        top: 120px

      p
        top: 240px

      .read-more
        top: 320px