@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../define"

#news

  ul
    background-color: #f0f0f0
    border-top: 2px solid #e6e6e6
    padding: 0

    > li
      list-style: none
      line-height: 60px
      padding-left: 20px

      + li
        border-top: 1px solid #e6e6e6

      a
        color: #26416C

      small
        padding-left: 10px

  @media (max-width: $screen-xs-max)
    &
      h3
        margin: $gap 0 $gap-s

      ul
        border-bottom: 2px solid #e6e6e6

        li
          line-height: $gap
          padding: $gap-s $gap-s $gap-s $gap-l - 4px
          text-indent: -19px

          i
            text-indent: 0
            width: $gap - 5px