.about
  .table 
    background-color: #f5fcff
    width: 100%


  .table td,
  .table th
    border: 1px solid #d4eaf2
    padding: 15px 35px


  .table td:first-child
    text-align: center


  hr
    border: 1px solid #f0f0f0
    margin: 25px 0


  .address
    padding: 15px
    border-width: 1px


  .address.active
    background-color: #f0f0f0
    border: 1px solid #e8e8e8


  .maps
    margin: 0
    position: relative


  .maps li
    list-style: none
    position: absolute
    top: 0
    right: 0
    display: none


  .maps li:first-child
    display: block


  #beijing-map .modal-body,
  #guangzhou-map .modal-body,
  #shanghai-map .modal-body,
  #xian-map .modal-body
    overflow: hidden
    max-height: inherit
