@import "../define"

#steps
  margin: 50px 0
  padding: 0

  > li
    position: relative
    text-align: center

    .fa
      border: 3px solid #ddd
      border-radius: 15px
      font-size: $gap * 2
      line-height: 1.5em
      text-align: center
      width: 180px

    .text
      line-height: 40px
      color: #27426b

#developer
  .action
    text-align: center

  .btn
    padding: 10px 70px
    border-radius: 0
    background-color: #5CABF3
    border: none

    &:hover
      background-color: #4392DA
