@import "../define"

#developer
  width: 100%
  margin: 0

  .ad-forms
    background-color: $shallow-background-color

    img
      margin-left: 10%

  .display
    padding: 2% 0
    background-color: $deep-background-color

  .how-to
    background-color: $shallow-background-color
    padding: 10% 0 5%

    .icon
      width: $top-bar-offset-lg * 2
      height: $top-bar-offset-lg * 2
      border-radius: $top-bar-offset-lg

    .glyphicon-chevron-right
      color: white
      position: absolute
      right: 0
      top: 25%

    .register
      .icon
        border: 1px solid $yellow
        background-color: $yellow

      p
        color: $yellow


    .create-app
      .icon
        border: 1px solid $purple
        background-color: $purple

      p
        color: $purple


    .embed-sdk
      .icon
        border: 1px solid $blue
        background-color: $blue

      p
        color: $blue


    .receive-ads
      .icon
        border: 1px solid $green
        background-color: $green

      p
        color: $green


    .income
      .icon
        border: 1px solid $orange
        background-color: $orange

      p
        color: $orange

    p
      margin-top: $gap + $gap-s


  .sdk
    background-color: $deep-background-color
    padding: 10% 0 5%

    .sdk-intro
      width: 120px
      height: 120px
      margin: 0 auto
      padding-left: $gap-xs
      color: $white
      font-size: $gap

      .quotation-mark
        font-size: $gap-l
        position: relative
        top: $gap + $gap-s

    .sdk-intro-1
      background-color: $orange

      & + .sdk-desc
        color: $orange

    .sdk-intro-2
      background-color: $green

      & + .sdk-desc
        color: $green

    .sdk-intro-3
      background-color: $blue

      & + .sdk-desc
        color: $blue

    .sdk-intro-4
      background-color: $purple

      & + .sdk-desc
        color: $purple

    .sdk-intro-5
      background-color: #CEB518

      & + .sdk-desc
        color: #CEB518

    .sdk-desc
      margin-top: $gap-s
      font-size: 15px
      text-align: center

  .feedback
    background-color: $shallow-background-color
    padding: 5%
    color: $deep-font-color

    .icon-list
      div
        display: inline-block

      .lol
        position: relative
        top: $gap

      .icon-clients
        margin: 0 $gap

    .comment
      .icon
        border-radius: $gap + $gap-xs
        width: $top-bar-offset-lg
        height: $top-bar-offset-lg

      .icon-0
        background: url(../img/game.png) center no-repeat

      .icon-1
        background-image: url(../img/clients-right.png)
        background-position-x: -$top-bar_height
        background-position-y: -$top-bar_height

      .item
        margin-top: $gap + $gap-s

        .read-more
          color: $active-color
          display: inline-block
          background-color: transparent

      .app
        padding: 0

  .title
    color: $font-color
    margin-bottom: 5%

  img
    max-width: 100%

  @media (max-width: $screen-lg-min)
    & .glyphicon-chevron-right
      display: none

  @media (min-width: $screen-md-min)
    &
      > .row
        height: $module-height

      .ad-forms
        position: relative
        height: 470px

        div
          position: absolute
          bottom: 0

      .sdk
        .sdk-intro
          margin: 0

        .sdk-desc
          text-align: left

  @media (max-width: 320px)
    & .feedback .icon-list .icon-clients
      margin: 0 $top-bar-offset-sm