@import "../define"

#article
  .article-list
    padding: 0
    color: $deep-font-color

  > ul li
    list-style: none
    padding-bottom: 10px
    margin-bottom: 20px

  li
    .date
      font-size: 16px
      line-height: 25px

      h2
        margin: 0
        font-size: 22px
        color: $font-color

    .title
      margin: $gap-xs 0 $gap-s
      font-size: 18px

      & a
        color: $font-color

    p
      line-height: $gap + $gap-s

    .excerpt
      line-height: 25px
      color: #666

    &:last-child
      border-bottom: none