@import "../define"

#nav-list
  margin: 200px auto 0
  position: fixed
  top: 15%
  left: 3%

  > ul
    margin: 0
    padding: 0

    > li
      list-style: none
      background-color: #105581
      text-align: center

      &.active,
      &:hover
        background-color: $active-color

      ~ li
        border-top: 1px solid $deep-background-color

      .fa
        margin-right: 20px

      a
        color: $white
        line-height: $gap * 3
        display: inline-block
        height: $gap * 3
        padding: 0 $gap


      &.active a,
      a:hover
        text-decoration: none
