@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../define"

#footer
  background-color: $footer-bg-color
  color: $footer-color
  font-size: 12px

  h2
    font-size: 16px

  .address
    padding-left: 0

    li
      list-style: none
      display: inline-block

  .footer-row
    padding-bottom: $gap-s

  .others
    margin: $gap 0
    padding: 0

    li
      padding: 0
      list-style: none
      line-height: 25px

      a
        color: $active-color
        text-decoration: none

        &:hover
          text-decoration: underline

  .beian
    margin: 0 $gap-xs

  .copyright
    display: inline-block

    a
      color: $deep-font-color

  .social-media
    margin-left: 10%
    display: inline-block

    a
      width: 36px
      height: 36px
      display: inline-block
      margin: 0 $gap-s
      position: relative
      top: $gap-s

    .wechat
      margin-left: $top-bar-offset-sm
      background-image: url(../img/wechat.png)

      &:hover, &:active
        background-image: url(../img/wechat-hover.png)

        & img
          display: inline-block

      img
        position: absolute
        bottom: $top-bar-offset-lg
        left: -$gap-xl
        display: none

    .weibo
      background-image: url(../img/weibo.png)

      &:hover
        background-image: url(../img/weibo-hover.png)

  .top-button
    position: fixed
    bottom: $gap
    right: $gap
    background-color: $active-color
    color: $white
    display: inline-block
    text-align: center

  @media (min-width: $screen-sm-min)
    &
      .address
        margin-top: $gap
        margin-bottom: $gap-l

        .beijing
          margin-right: 5em

        .guangzhou
          margin-right: 3.3em

      .others .weibo
        margin-top: 20px

        a
          display: block
          line-height: 32px
          height: 32px

      .top-button
        width: $top-bar-offset-lg
        height: $top-bar-offset-lg
        border-radius: $gap-xs

        i
          font-size: 4em

  @media (max-width: $screen-xs-max)
    &
      .address
        padding: 0

      .top-button
        width: $gap
        height: $gap
        border-radius: 2px

        i
          font-size: 2em

      .copyright a
        display: block

        .beian
          margin: $gap-xs

  @media (max-width: $screen-md-min)
    &
      .social-media
        margin-left: 0

  @media (max-width: 321px)
    &
      .address li
        display: flex

        .cities
          flex: 0.4

          & + span
            flex: 2