@import "../define"

footer 
  background-color: $footer-bg-color
  color: $footer-color
  margin-top: $gap

  dt
    font-size: 14px
    margin-bottom: 5px
    font-weight: normal

  dd
    color: #888888

  .others
    margin-top: 30px

    li
      list-style: none
      line-height: 25px

      &.weibo
        margin-top: 20px

        a
          display: block
          line-height: 32px
          height: 32px

      a
        color: #ddd
        text-decoration: none

        &:hover
          text-decoration: underline

  .address
    margin-top: 30px
    margin-bottom: 60px

    dl
      border-right: 1px solid #888
      margin-bottom: 0
      padding: $gap

      &:nth-child(3n + 1)
        padding-left: 0

      &:nth-child(3n)
        padding-right: 0
        border-right: none

      dd
        min-height: $gap * 3

    dl:nth-child(-n+3)
      border-bottom: 1px solid #888

      > dd
        padding-bottom: $gap

    dl:nth-child(n+4) > dd
      padding-top: $gap

  .copyright
    text-align: center
    color: #888
    padding-bottom: 10px

  .service-icons
    margin: 0
    padding: 0 0 $gap
    text-align: center