@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../bower_components/colors/sass/variables"
@import '../define'

#top-bar
  color: $top-bar-color
  background-color: $top-bar-background-color
  border-radius: 0
  margin-bottom: $gap
  border-color: $shallow-background-color

  .container-fluid,
  .navbar-header
    height: 100%

  .navbar-brand
    width: 200px
    background: url(../img/new-logo.png) center center no-repeat
    background-size: 130px 34px
    text-indent: -9999px

  .navbar-brand:hover
    background-image: url(../img/new-logo-hover.png)

  .nav > li > a
    color: $white
    font-size: 16px
    line-height: $top-bar_height - $navbar-padding-vertical * 2

    &.active,
    &:hover
      color: $active-color
      border-bottom: $gap-xs solid $active-color

  .home &
    border: none
    position: absolute
    z-index: 100
    opacity: 0.7

  @media (max-width: $screen-xs-max)
    &
      position: static
      margin-left: 0
      margin-bottom: 0

      .home &
        position: absolute
        top: 0
        width: 100%

      .navbar-header
        .navbar-toggle
          line-height: 1em
          margin-right: $gap-s
          color: $active-color
          border-color: $active-color

          + .navbar-toggle
            margin-right: $gap-xs

          &:hover, &:focus
            background-color: $active-color
            color: $deep-background-color
            border-color: $deep-background-color

        .login-button
          color: $active-color

      .navbar-brand
        width: 120px + $navbar-padding-horizontal
        background-size: 120px 28px
        background-position-x: $navbar-padding-horizontal

      .navbar-nav
        margin-top: 0
        margin-bottom: 0

  @media (min-width: $screen-sm-min)
    & .navbar-brand
      height: $top-bar_height

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    &
      .navbar-header .login-button
        display: none

      .nav > li > a
        padding: $top-bar-offset-sm $gap-s

      .home &
        left: 0
        right: 0

      .container-fluid
        padding-left: 1%
        padding-right: 1%

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)
    .home &
      left: 0
      right: 0

  @media (min-width: $screen-lg-min)
    .home &
      width: 100%

    & .container-fluid
      padding-left: 15%
      padding-right: 15%
