@import '../define'

#top-bar
  height: $top-bar_height - 2px
  border-top: 2px solid $brand-color
  background-color: #f5f5f5

  .navbar-brand
    width: 200px
    background: url(../img/logo.png) center center no-repeat
    background-size: 160px 43px

  .nav
    height: 100%
    line-height: 78px
    padding: 0

    li
      list-style: none

      a
        display: block
        color: #606060
        font-size: 16px
        text-decoration: none
        padding: 0 25px

        &.active,
        &:hover
          background-color: $footer-bg-color
          color: $white